In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('../data/instruct_dataset_validation.csv')

In [14]:
df.head()

,inputs,outputs,type,ds
0,با توجه به متن داده شده به سوال جواب بده\n\nمت...,۱۳,fs,SajjadAyoubi/persian_qa
1,با توجه به متن داده شده به سوال جواب بده\n\nمت...,شاه آلفونسو سیزدهم در سال ۱۹۲۰ بر این تیم نهاد,fs,SajjadAyoubi/persian_qa
2,با توجه به متن داده شده به سوال جواب بده\n\nمت...,اسپانیا,fs,SajjadAyoubi/persian_qa
3,با توجه به متن داده شده به سوال جواب بده\n\nمت...,جوزپ ماریا اسپیناس,fs,SajjadAyoubi/persian_qa
4,با توجه به متن داده شده به سوال جواب بده\n\nمت...,الوصل، العین، الاهلی و النصر,fs,SajjadAyoubi/persian_qa

In [15]:
len(df)

67464

In [16]:
df['ds'].unique()

array(['SajjadAyoubi/persian_qa', 'pn_summary', 'wiki_summary',
       'persiannlp/parsinlu_entailment',
       'persiannlp/parsinlu_query_paraphrasing', 'PNLPhub/Persian-News',
       'PNLPhub/FarsTail', 'PNLPhub/parsinlu-multiple-choice',
       'PNLPhub/DigiMag'], dtype=object)

In [17]:
df['ds'].value_counts()

ds
pn_summary                                41004
PNLPhub/Persian-News                       7400
PNLPhub/FarsTail                           6659
wiki_summary                               5074
persiannlp/parsinlu_query_paraphrasing     2690
PNLPhub/DigiMag                            2299
SajjadAyoubi/persian_qa                    1486
persiannlp/parsinlu_entailment              807
PNLPhub/parsinlu-multiple-choice             45
Name: count, dtype: int64

In [18]:
new_df = df[df['type'] == 'fs']
new_df['ds'].value_counts()

ds
pn_summary                                7452
persiannlp/parsinlu_query_paraphrasing     894
SajjadAyoubi/persian_qa                    835
PNLPhub/DigiMag                            765
PNLPhub/FarsTail                           511
persiannlp/parsinlu_entailment             267
PNLPhub/parsinlu-multiple-choice            45
Name: count, dtype: int64

In [19]:
pn_sum = df[df['ds'] == 'pn_summary']

In [20]:
pn_sum['inputs'][1486]

'مدیر بازرگانی شرکت ملی پخش فرآورده\u200cهای نفتی، در گفتگو با شانا با بیان این که بر اساس مجوز یکشنبه (۱۸ اسفند ماه) شورای اقتصاد، کارمزد بنزین در جایگاههای عرضه فرآورده\u200cهای نفتی کلانشهر تهران افزایش یافته است، افزود: این کارمزد با احتساب ۱۰۰ ریال کارمزد ویژه برای آن، ۳۵۰ ریال به ازای فروش هر لیتر بنزین تعیین شده است. [n] محمدرضا مظلومی تصریح کرد: در دیگر کلانشهرهای کشور نیز کارمزد این فرآورده نفتی (بنزین) با احتساب ۴۰ ریال کارمزد ویژه، ۲۹۰ ریال به ازای فروش هر لیتر بنزین در نظر گرفته شده است. [n] به گفته وی، کارمزد در دیگر جایگاههای عرضه فرآورده نیز به ازای هر لیتر فروش بنزین ۲۵۰ ریال است. [n] تا پیش از مصوبه شورای اقتصاد کارمزد فروش بنزین به ازای هر لیتر آن ۲۰۰ ریال محاسبه می\u200cشد. [n] مدیر بازرگانی شرکت ملی پخش فرآورده\u200cهای نفتی با بیان این که برای جلوگیری از هرگونه مشکل برای جایگاه داران، در ماههای اخیر ۲۰ درصد از کارمزد جایگاههای عرضه سوخت به صورت علی الحساب به آنها پرداخت شده است، تصریح کرد: کارمزد قطعی (بر اساس نرخهای جدید) از ابتدای سال ۱۳۹۲ محاسبه و پرداخت می\u200cشود. [n] مظلومی درباره کارمزد تعیین شده برای نفت گاز، نفت سفید و گاز مایع نیز گفت: کارمزد نفت سفید و نفت گاز با ۱۵ ریال افزایش نسبت به سال قبل (۶۰ ریال) به ۷۵ ریال و کارمزد گاز مایع نیز با ۱۰۰ ریال افزایش به ۳۰۰ ریال افزایش یافته است.\n\nبا توجه به متن بالا یک خلاصه تولید کن\n\nخلاصه:'

In [39]:
zs_df = df[df['type']=='zs']
sent_df = zs_df[zs_df['ds']=='SajjadAyoubi/persian_qa']

In [40]:
sent_df.head()

,inputs,outputs,type,ds
3002,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,در شرق شهر مبارکه,zs,SajjadAyoubi/persian_qa
3003,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,۶,zs,SajjadAyoubi/persian_qa
3004,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,تندیس زرین جایزۀ ملی تعالی سازمانی,zs,SajjadAyoubi/persian_qa
3005,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,شرکت فولاد مبارکۀ,zs,SajjadAyoubi/persian_qa
3006,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,۱۳۷۱,zs,SajjadAyoubi/persian_qa

In [41]:
sent_df.sample(5)

,inputs,outputs,type,ds
7124,جواب سوال از متن چه میشود؟\n\nمتن: فراماسونری ...,کارآموز یا مبتدی ، رفیق یا همکار و استاد ماسون,zs,SajjadAyoubi/persian_qa
5732,جواب سوال از متن چه میشود؟\n\nمتن: خواستگاری ب...,خواستگاری,zs,SajjadAyoubi/persian_qa
6418,جواب سوال از متن چه میشود؟\n\nمتن: جیمز جی برا...,ایرلندی-آمریکایی اهل نیوجرسی,zs,SajjadAyoubi/persian_qa
6057,جواب سوال از متن چه میشود؟\n\nمتن: از آنجایی ک...,سوم تا پنجم جمادی‌الثانی,zs,SajjadAyoubi/persian_qa
7673,جواب سوال از متن چه میشود؟\n\nمتن: یهودیان گرو...,پدران کتاب مقدس ابراهیم، اسحاق و یعقوب و شه ما...,zs,SajjadAyoubi/persian_qa

In [29]:
sent_df['inputs'][819070]

'سوال نظر شما در مورد سلامت و ارزش غذایی این شیر چیست؟ در چه دسته بندی قرار میگیرد؟'

In [43]:
len(sent_df)

6306

## Huggingface Dataset

In [2]:
from datasets import load_dataset

hf_ds = load_dataset('csv', data_files='../data/instruct_dataset.csv', split='train')

/home/hojjat/anaconda3/envs/farsinstruct/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
hf_ds_new = hf_ds.filter(lambda x: x['ds'].startswith('persiannlp'))

In [47]:
hf_ds_new

Dataset({
    features: ['inputs', 'outputs', 'type', 'ds'],
    num_rows: 25900
})

In [9]:
pn_hd = hf_ds.filter(lambda x: x['ds'] == 'pn_summary' and x['type'] == 'fs').select(range(1, 10))

In [10]:
pn_hd.to_json('pn_fs.json')

Creating json from Arrow format: 100%|██████████| 1/1 [00:00<00:00, 1082.96ba/s]

33038

In [12]:
import re

def remove_instruction(x):
    space = re.compile("\\s+")
    splt_text = x.split('<sep>')
    #snt_list = []
    #for snt in splt_text:
    #    snt_list.append(space.sub(" ", snt))

    return '\n'.join(splt_text[1:])

In [14]:
xx = """
موضوع داده شده در کدام یک از دسته بندی های زیر قرار میگیرد؟ دسته ها: اقتصاد ,راه‌ها-شهری ,بانکداری-بیمه ,کشاورزی ,بین‌المللی ,نفت-انرژی ,صنعت ,حمل و نقل ,علم-فناوری ,محلی ,ورزش ,سیاست ,هنر-فرهنگ ,جامعه ,سلامتی ,پژوهش ,آموزش-دانشگاه ,گردشگری
<sep>
موضوع: واکنش جانسون به استعفای شینزو آبه
دسته:بین‌المللی
"""

print(remove_instruction(xx))

موضوع: واکنش جانسون به استعفای شینزو آبه
دسته:بین‌المللی