In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('../data/instruct_dataset.csv')

In [17]:
df.head()

,inputs,outputs,type,ds
0,یک سوال با توجه به متن تولید کن\n\nمتن: شرکت ف...,شرکت فولاد مبارکه در سال ۱۳۹۱ چه جایزه ای برد؟,fs,SajjadAyoubi/persian_qa
1,یک سوال با توجه به متن تولید کن\n\nمتن: شرکت ف...,مصرف آب فولاد مبارکه چقدر است؟,fs,SajjadAyoubi/persian_qa
2,یک سوال با توجه به متن تولید کن\n\nمتن: شرکت ف...,شرکت فولاد مبارکۀ اصفهان در چه سالی برنده جایز...,fs,SajjadAyoubi/persian_qa
3,یک سوال با توجه به متن تولید کن\n\nمتن: شرکت ف...,رشته علوم کامپوتر را چگونه می توان تقسیم کرد؟,fs,SajjadAyoubi/persian_qa
4,یک سوال با توجه به متن تولید کن\n\nمتن: علوم ر...,چه کسی گفته که علم رایانه به همان اندازه در مو...,fs,SajjadAyoubi/persian_qa

In [18]:
len(df)

1042794

In [19]:
df['ds'].unique()

array(['SajjadAyoubi/persian_qa', 'pn_summary', 'SLPL/syntran-fa',
       'wiki_summary', 'persiannlp/parsinlu_entailment',
       'persiannlp/parsinlu_sentiment',
       'persiannlp/parsinlu_query_paraphrasing', 'PNLPhub/Persian-News',
       'PNLPhub/FarsTail', 'PNLPhub/snappfood-sentiment-analysis',
       'PNLPhub/parsinlu-multiple-choice',
       'PNLPhub/digikala-sentiment-analysis', 'PNLPhub/DigiMag'],
      dtype=object)

In [5]:
df['ds'].value_counts()

ds
pn_summary                                601492
SLPL/syntran-fa                           144314
PNLPhub/snappfood-sentiment-analysis      139814
wiki_summary                               45654
PNLPhub/Persian-News                       26628
PNLPhub/DigiMag                            20686
persiannlp/parsinlu_sentiment              18155
PNLPhub/FarsTail                           16953
SajjadAyoubi/persian_qa                    14412
PNLPhub/digikala-sentiment-analysis         6519
persiannlp/parsinlu_query_paraphrasing      5487
persiannlp/parsinlu_entailment              2258
PNLPhub/parsinlu-multiple-choice             422
Name: count, dtype: int64

In [23]:
new_df = df[df['type'] == 'fs']
new_df['ds'].value_counts()

ds
pn_summary                                109360
PNLPhub/snappfood-sentiment-analysis       69814
SLPL/syntran-fa                            48102
SajjadAyoubi/persian_qa                     8106
PNLPhub/DigiMag                             6894
persiannlp/parsinlu_sentiment               4538
PNLPhub/digikala-sentiment-analysis         3258
PNLPhub/FarsTail                            2421
persiannlp/parsinlu_query_paraphrasing      1827
persiannlp/parsinlu_entailment               750
PNLPhub/parsinlu-multiple-choice             422
Name: count, dtype: int64

In [39]:
zs_df = df[df['type']=='zs']
sent_df = zs_df[zs_df['ds']=='SajjadAyoubi/persian_qa']

In [40]:
sent_df.head()

,inputs,outputs,type,ds
3002,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,در شرق شهر مبارکه,zs,SajjadAyoubi/persian_qa
3003,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,۶,zs,SajjadAyoubi/persian_qa
3004,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,تندیس زرین جایزۀ ملی تعالی سازمانی,zs,SajjadAyoubi/persian_qa
3005,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,شرکت فولاد مبارکۀ,zs,SajjadAyoubi/persian_qa
3006,جواب سوال از متن چه میشود؟\n\nمتن: شرکت فولاد ...,۱۳۷۱,zs,SajjadAyoubi/persian_qa

In [41]:
sent_df.sample(5)

,inputs,outputs,type,ds
7124,جواب سوال از متن چه میشود؟\n\nمتن: فراماسونری ...,کارآموز یا مبتدی ، رفیق یا همکار و استاد ماسون,zs,SajjadAyoubi/persian_qa
5732,جواب سوال از متن چه میشود؟\n\nمتن: خواستگاری ب...,خواستگاری,zs,SajjadAyoubi/persian_qa
6418,جواب سوال از متن چه میشود؟\n\nمتن: جیمز جی برا...,ایرلندی-آمریکایی اهل نیوجرسی,zs,SajjadAyoubi/persian_qa
6057,جواب سوال از متن چه میشود؟\n\nمتن: از آنجایی ک...,سوم تا پنجم جمادی‌الثانی,zs,SajjadAyoubi/persian_qa
7673,جواب سوال از متن چه میشود؟\n\nمتن: یهودیان گرو...,پدران کتاب مقدس ابراهیم، اسحاق و یعقوب و شه ما...,zs,SajjadAyoubi/persian_qa

In [29]:
sent_df['inputs'][819070]

'سوال نظر شما در مورد سلامت و ارزش غذایی این شیر چیست؟ در چه دسته بندی قرار میگیرد؟'

In [43]:
len(sent_df)

6306

## Huggingface Dataset

In [2]:
from datasets import load_dataset

hf_ds = load_dataset('csv', data_files='../data/instruct_dataset.csv', split='train')

/home/hojjat/anaconda3/envs/farsinstruct/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
hf_ds_new = hf_ds.filter(lambda x: x['ds'].startswith('persiannlp'))

In [47]:
hf_ds_new

Dataset({
    features: ['inputs', 'outputs', 'type', 'ds'],
    num_rows: 25900
})

In [9]:
pn_hd = hf_ds.filter(lambda x: x['ds'] == 'pn_summary' and x['type'] == 'fs').select(range(1, 10))

In [10]:
pn_hd.to_json('pn_fs.json')

Creating json from Arrow format: 100%|██████████| 1/1 [00:00<00:00, 1082.96ba/s]

33038

In [12]:
import re

def remove_instruction(x):
    space = re.compile("\\s+")
    splt_text = x.split('<sep>')
    #snt_list = []
    #for snt in splt_text:
    #    snt_list.append(space.sub(" ", snt))

    return '\n'.join(splt_text[1:])

In [14]:
xx = """
موضوع داده شده در کدام یک از دسته بندی های زیر قرار میگیرد؟ دسته ها: اقتصاد ,راه‌ها-شهری ,بانکداری-بیمه ,کشاورزی ,بین‌المللی ,نفت-انرژی ,صنعت ,حمل و نقل ,علم-فناوری ,محلی ,ورزش ,سیاست ,هنر-فرهنگ ,جامعه ,سلامتی ,پژوهش ,آموزش-دانشگاه ,گردشگری
<sep>
موضوع: واکنش جانسون به استعفای شینزو آبه
دسته:بین‌المللی
"""

print(remove_instruction(xx))

موضوع: واکنش جانسون به استعفای شینزو آبه
دسته:بین‌المللی